.w1{ background-color:#ffe6ff;
	margin-top:0px;
	font-size:30px;
}



 .linear-gradient {
 height: 650px;
 background-color:#ffb3ff; 
 
}


.grid-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 30px ;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}
